* {
    margin: 0;
    padding: 0;
}

:root {
    --color-container: #355E3B;
    --color-table-background: #005c29;
    --color-table-border: #138808;
    --color-background: rgb(43, 28, 1);
    --color-background-button: #013220;
    --color-font-button: #90EE90;
}

body section div h1 {
    display: grid;
    place-items: center;
}

.back-card {
    background-image: url('https://deckofcardsapi.com/static/img/back.png');
}

.container_comum {
    background-color: var(--color-background);
    display: grid;
    place-items: center;
}

.container {
    background-color: var(--color-container);
    display: grid;
    place-items: center;
    margin: 5px;
    padding: 10px;
}

.table_user {
    display: flex;
    flex-direction: row;
    background-color: var(--color-table-background);
    border: 2px solid var(--color-table-border);
    padding: 10px;
}

.table_oponent {
    display: flex;
    flex-direction: row;
    background-color: var(--color-table-background);
    border: 2px solid var(--color-table-border);
    padding: 10px;
}

.cards {
    aspect-ratio: 3/4;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    background-image: url('https://deckofcardsapi.com/static/img/5S.png');
    background-size: cover;
}

button {
    background-color: var(--color-background-button);
    color: var(--color-font-button);
    width: 100%;
    height: 30px;
    font-weight: 700;
}

h1, span {
    font-size: 1rem;
}